{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="content-details">
    <h2>Good day</h2>
    <p>You can find many interesting newspapers articles on this site.
      You can view newspapers articles only on the topic you are interested in or watch the latest news.</p>

  <ul>
    <li><strong>Topics:</strong> {{ num_topics }}</li>
    <li><strong>Redactors:</strong> {{ num_redactors }}</li>
    <li><strong>Newspapers:</strong> {{ num_newspaper }}</li>
  </ul>

    {% if not user.is_staff %}
    <br><br><br><br><br>
    <div style="background-color: chocolate; text-align: center; padding: 10px; border-radius: 15px">
      <h3>If you want to see all available functional you can log in as admin</h3>
        <ul><strong>username - test_superuser</strong></ul>
        <ul><strong>password - 1234Testuser5678</strong></ul>
    </div>
    {% endif %}


  </div>
{% endblock %}