{% extends "base.html" %}

{% block content %}
<div class="content-details">
  <h1 style="text-align: center">{{ newspaper.title }}</h1>
  <p>{{ newspaper.content }}</p>
  {% if user in newspaper.publishers.all or user.is_staff %}
    <a href="{% url 'news:newspaper-update' pk=newspaper.id %}" class="btn btn-primary float-right">Update information</a>
    <a href="{% url 'news:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger float-right">Delete newspaper</a>
  {% endif %}

  <br>
  <p>Published - {{ newspaper.published_date }}</p>
  <p>Topic - {{ newspaper.topic }}</p>
  {% if newspaper.publishers %}
    <p>Redactors:</p>
    {% for publisher in newspaper.publishers.all %}
      <li><a href="{% url 'news:redactor-detail' pk=publisher.id %}">{{ publisher.username }} - ({{ publisher.first_name }} {{ publisher.last_name }})</a></li>
    {% endfor %}

  {% endif %}
</div>
{% endblock %}