{% extends "base.html" %}

{% block content %}
  <div class="content-details">
    <a href="{% url 'news:redactor-update' pk=redactor.id %}" class="btn btn-primary float-right">Update information</a>
    <a href="{% url 'news:redactor-delete' pk=redactor.id %}" class="btn btn-danger float-right">Delete user</a>
    <p>username - {{ redactor.username }}</p>
    <p>first name - {{ redactor.first_name }}</p>
    <p>last name - {{ redactor.last_name }}</p>
    <p>email - {{ redactor.email }}</p>
  </div>
{% endblock %}