{% extends "base.html" %}

{% block content %}
  <div class="content-details">
    <a href="{% url 'news:redactor-update' pk=redactor.id %}" class="btn btn-primary float-right">Update information</a>
    <a href="{% url 'news:redactor-delete' pk=redactor.id %}" class="btn btn-danger float-right">Delete user</a>
    <p>username - {{ redactor.username }}</p>
    <p>first name - {{ redactor.first_name }}</p>
    <p>last name - {{ redactor.last_name }}</p>
    <p>email - {{ redactor.email }}</p>
    {% if redactor.newspapers.all.count %}
          {% for newspaper in redactor.newspapers.all %}
        <li>
          {{ newspaper.title }} -
          <a href="{% url 'news:newspaper-detail' pk=newspaper.id %}">
            More information about this...
        </a>
        </li>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}