{% extends "base.html" %}

{% block content %}
  <div class="content-details">
    <h1 style="text-align: center;">
      Redactors list
    </h1>
    {% if redactor_list %}
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Newspaper</th>
          </tr>
        </thead>
        <tbody>
          {% for redactor in redactor_list %}
            <tr>
              <td>{{ redactor.username }}</td>
              <td>{{ redactor.first_name }}</td>
              <td>{{ redactor.last_name }}</td>
              <td>{{ redactor.newspapers.name }}</td>
              <td><a href="{% url 'news:redactor-detail' pk=redactor.id %}">See more information</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>We don't have redactors</p>
    {% endif %}
  </div>
{% endblock %}