{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="content-details">
    <h1 style="text-align: center;">
      Topic list
      <a href="{% url 'news:topic-create' %}" class="float-right btn btn-primary">
        Create new
      </a>

    </h1>
      <form action="" method="get" class="form-inline">
        {{ search_form|crispy }}
        <input type="submit" value="search" class="btn-primary">
      </form>
    {% if topic_list %}
      <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
            <th>Name</th>
            <th>Newspapers</th>
          </tr>
        </thead>
        <tbody>
      {% for topic in topic_list %}
        <tr>
          <td>{{ topic.name }}</td>
          <td><a href="{% url 'news:topic-detail' pk=topic.id %}">{{ topic.newspaper.count }} - newspaper{{ topic.newspaper.count|pluralize }}</a></td>
          <td><a href="{% url 'news:topic-update' pk=topic.id %}">Update</a></td>
          <td><a href="{% url 'news:topic-delete' pk=topic.id %}">Delete</a></td>
        </tr>
      {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Now we don't have topic</p>
    {% endif %}
  </div>
{% endblock %}