{% extends "base.html" %}

{% block content %}
  <div class="content-details">

    <h2>Newspapers with {{ topic.name }} topic</h2>
    {% if topic.newspaper.all.count %}
      {% for newspaper in topic.newspaper.all %}
        <li>
          {{ newspaper.title }} -
          <a href="{% url 'news:newspaper-detail' pk=newspaper.id %}">
            More information about this...
        </a>
        </li>
      {% endfor %}

    {% else %}
      <p>We don't have newspapers with {{ topic.name }} topic</p>
    {% endif %}
  </div>
{% endblock %}
