body {
    margin-top: 20px;
    background-image: url("background.png");
}


.content {
    background-color: #dadada;
    border: 2px solid grey;
    margin: 25px;
}

.topnav {
    text-align: center;
    background-color: #5a5a54;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #000000;
}

.nav-element {
    margin: 30px;
    color: white;
}

.float-right {
    margin-right: 20px;
}

.content-details {
    margin: 20px;
}
