<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>News</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  {% block topbar %}
    {% include "includes/topbar.html" %}
  {% endblock %}
  <div class="content">
    {% block content %}

    {% endblock %}
    {% block pagination %}
      {% include "includes/pagination.html" %}
    {% endblock %}
  </div>

</body>
</html>